<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport
               [attr.role]="'navigation'"
               [mode]="'over'"
               [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CandidateApp</span>
      <span class="spacer"></span>
      <a mat-button [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</a>
      <button (click)="logout()" mat-button *ngIf="isLoggedIn">Logout</button>
    </mat-toolbar>
    <div class="container">
      
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
